.oxanium-font {
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

body 
{
    font-family: "Oxanium", sans-serif;
}

#output
{
    font-size: 200%;
}

 #myButton 
{
    font-size: 15pt;
    font-family: "Oxanium", sans-serif;
    width: 200px;
    height: 50pt;
}

/* Hidden by default */
.wide-only-btn {
  display: none;
}

@media only screen and (min-width: 320px)
{
    .container
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    html, body, .container
    {
        height: 100%;
        margin: 0;
    }

    h1 
    {
        font-size: 1.2rem;
        background-color: #174287;
        color: #F5F5F5;
        padding: .8rem;
        margin: 0;
        text-align: center;
    }

    #output 
    {
        text-align: center;
    }
}

@media only screen and (min-width: 768px)
{
    h1
    {
        font-size: 3rem;
        background-color: aqua;
    }

    #myButton 
    {
        font-size: 1.5rem;
        width: 300px;
        height: 75pt;
    }

    body{
        color: darkgray;
        font-size: 2rem;
    }
}
        
@media only screen and (min-width: 1024px)
{
    body
    {
        font-size: 1rem;
        text-align: left;
    }

    h1
    {
        background-color: #FF3860;
    }

    .container
    {
        display: block;
        margin: 1rem;
    }

    #output
    {
        text-align: left;
    }
}

@media only screen and (min-width: 1408px)
{
    body
    {
        font-size: 1.5rem;
        text-align: left;
    }

    h1
    {
        background-color: #b3ff38;
    }

    .container
    {
        display: block;
        margin: 1rem;
    }

    #output
    {
        text-align: left;
    }

    .wide-only-btn 
    {
        display: flex; 
    }
}